@font-face {
    font-family: 'HankenGrotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf')
        format('truetype');
}
*{
    box-sizing: border-box;
}

:root{
    --font-family-default: 'HankenGrotesk', sans-serif;
    --left-color-title: hsl(221, 26%, 79%);
    --left-color-bg:linear-gradient(
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
    );
    --left-color-circle:linear-gradient(
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0)
    );
    --first-summary-color:linear-gradient(
        to right,
        hsl(0, 100%, 67%,.2),
        hsl(0, 100%, 80%,.2)
    );
    --first-summary:hsl(0, 100%, 67%);
    --secound-summary-color:linear-gradient(
        to right,
        hsl(39, 100%, 56%,.2),
        hsla(39, 100%, 72%, 0.2)
    );
    --secound-summary:hsl(39, 100%, 56%);
    --third-summary-color:linear-gradient(
        to right,
        hsl(166, 100%, 37%,.2),
        hsla(166, 60%, 45%, 0.2)
    );
    --third-summary:hsl(166, 100%, 37%);
    --fourth-summary-color:linear-gradient(
        to right,
        hsl(234, 85%, 45%,.2),
        hsla(234, 54%, 55%, 0.2)
    );
    --fourth-summary:hsl(234, 85%, 45%);
    --button-color:linear-gradient(
        rgb(121, 88, 212),
        hsl(241, 73%, 57%)
    );
    --button-color-2:linear-gradient(
        rgb(111, 74, 212),
        hsl(241, 74%, 54%)
    );
    
}
body{
    font-family: var(--font-family-default);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

.container{
    display: grid;
    max-width: 900px;
    height: 60%;
    grid-template-columns: repeat(2, 2fr);
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 35px;
}
.container .left-side{
    border-radius: 35px;
    background: var(--left-color-bg);
    display: grid;
    place-items: center;
    grid-template-rows: 100px 200px 100px 100px;
    padding: 25px;
    max-height: 100%;
}

.title{
    color: var(--left-color-title);
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}
.circle{
    height: 200px;
    width: 200px;
    min-width: 100px;
    min-height: 100px;
    background: var(--left-color-circle);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle .big{
    font-size: 4rem;
    color: aliceblue;
    margin: 0;
    font-weight: bold;
}
.circle .small{
    margin: 0;
    font-weight: bold;
    color: var(--left-color-title);
}
.great{
    font-size: 2rem;
    color: aliceblue;
}
.under-great-box{
    width: 60%;
    text-align: center;
    font-size: 1.1rem;
    color: var(--left-color-title);
}

.right-s{
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    display: grid;
    grid-template-rows: 90px 85px 85px 85px 85px 100px;
}
.right-title{
    font-size: 1.4rem;
    letter-spacing: 1.5px;
}
.summary-box{
    background-color: cyan;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 15px;
}
.summary-box .left{
    display: flex;
}
img{
    scale: 0.5;
}
.bold{
    font-weight: bold;
}
.colored-span{
    color: hsl(242, 25%, 63%);
}
.first{
    background: var(--first-summary-color);
}
.first .left{
    color: var(--first-summary);
}
.secound{
    background: var(--secound-summary-color);
}
.secound .left{
    color: var(--secound-summary);
}
.third{
    background: var(--third-summary-color);
}
.third .left{
    color: var(--third-summary);
}
.fourth{
    background: var(--fourth-summary-color);
}
.fourth .left{
    color: var(--fourth-summary);
}
button{
    background: var(--button-color);
    width: 100%;
    height: 50px;
    border: 0;
    color: aliceblue;
    border-radius: 35px;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.4s;
}
button:hover{
    cursor: pointer;
    background: var(--button-color-2);
}
@media screen and (max-width:600px) {
    .container{
        grid-template-rows: repeat(2, 2fr);
        grid-template-columns: repeat(1, 2fr);
        height: 1200px;
    }
    .container .left-side{
        border-radius: 0 0 35px 35px;
    }
}
